In [1]:
from sambad_query import *

In [2]:
df = load_target_list("full_str")
source_ids = df["source_id"]

In [3]:
results_df_list = []

for sid in tqdm(source_ids, desc="Querying SIMBAD"):
    full_id = f"Gaia DR3{sid}"
    
    # Check if the ID exists in SIMBAD
    if not id_exists_in_simbad(simbadtap, full_id):
        print(f"ID not found in SIMBAD: {full_id}")
        continue

    try:
        df = query_simbad_for_sources(service=simbadtap, source_ids=[sid])
        if not df.empty:
            results_df_list.append(df)
    except Exception as e:
        print(f"Query failed for {full_id}: {e}")

# Combine all non-empty results
results_df = pd.concat(results_df_list, ignore_index=True)

Querying SIMBAD:   0%|                                    | 0/8 [00:00<?, ?it/s]
Querying SIMBAD: 100%|████████████████████████████| 1/1 [00:00<00:00, 11.33it/s]
Querying SIMBAD:  12%|███▌                        | 1/8 [00:00<00:01,  3.57it/s]
Querying SIMBAD: 100%|████████████████████████████| 1/1 [00:00<00:00, 14.72it/s]
Querying SIMBAD:  25%|███████                     | 2/8 [00:00<00:01,  5.29it/s]
Querying SIMBAD: 100%|████████████████████████████| 1/1 [00:00<00:00, 14.26it/s]
Querying SIMBAD:  38%|██████████▌                 | 3/8 [00:00<00:00,  6.23it/s]
Querying SIMBAD: 100%|████████████████████████████| 1/1 [00:00<00:00, 13.24it/s]
Querying SIMBAD:  50%|██████████████              | 4/8 [00:00<00:00,  6.70it/s]
Querying SIMBAD: 100%|████████████████████████████| 1/1 [00:00<00:00, 13.90it/s]
Querying SIMBAD:  62%|█████████████████▌          | 5/8 [00:00<00:00,  7.05it/s]
Querying SIMBAD: 100%|████████████████████████████| 1/1 [00:00<00:00, 13.57it/s]
Querying SIMBAD:  75%|█████████████████████       | 6/8 [00:00<00:00,  7.25it/s]
Querying SIMBAD: 100%|████████████████████████████| 1/1 [00:00<00:00, 13.92it/s]
Querying SIMBAD:  88%|████████████████████████▌   | 7/8 [00:01<00:00,  7.39it/s]
Querying SIMBAD:   0%|                                    | 0/1 [00:00<?, ?it/s]
Querying SIMBAD: 100%|████████████████████████████| 1/1 [00:00<00:00,  9.14it/s]
Querying SIMBAD: 100%|████████████████████████████| 8/8 [00:01<00:00,  6.55it/s]

In [4]:
results_df = reorder_columns(results_df, first_col_name="gaia_id")
grouped_df = group_by_id(results_df)

In [5]:
grouped_df.to_excel("ful_star_rslts.xlsx", index=False)
grouped_df.head()

,gaia_id,main_id,otype,otype_txt,other_type,spt_oid,sptype,spt_bibcode,log_g,teff,feh_bibcode,feh_oid
0,Gaia DR3 1495329392800826624,PG 1350+372,HS*,HS*,HotSubdwarf,2211327,"[sdB/sdO , sdOA ...","[2021ApJS..256...28L, 2008Ap.....51..226S, 200...",6.46,29987,2021ApJS..256...28L,2211327
1,Gaia DR3 1879544900675463552,UCAC4 576-127603,HS*,HS*,HotSubdwarf,15905345,"[sdB/sdO , sdB/sdO...","[2021ApJS..256...28L, 2021ApJS..256...28L, 202...","[5.260000228881836, 5.269999980926514, 5.32000...","[21420, 20994, 21290, 21420, 20994, 21290, 214...","[2021ApJS..256...28L, 2019ApJ...881....7L, 201...",15905345
2,Gaia DR3 2144566678012121728,GALEX J184746.4+504134,HS*,HS*,HotSubdwarf,<NA>,,,NaN,<NA>,,<NA>
3,Gaia DR3 3517127900988821504,EC 12267-1751,HS*,HS*,HotSubdwarf,1946629,sdO,1997MNRAS.287..867K,NaN,<NA>,,<NA>
4,Gaia DR3 3600739335011156992,PG 1156-037,HS*,HS*,HotSubdwarf,<NA>,,,NaN,<NA>,,<NA>